#loginCard {
  padding-top: 10px;
  margin-top: 100px;
  width: 360px;
  background-color: white;
  border-radius: 10px;
  border-color: rgb(194, 194, 194);
  border-width: 1px;
  border-style: solid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    
}
#facadeHero{
  height: 800px;
  width: 1100px;
  background-position: center;
  background-image: url(https://images.unsplash.com/12/green.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
}

input {
  margin: 5px;
}

@media only screen and (max-width: 992px) {
  #facadeHero{
    width: 992px;
  }
}
@media screen and (max-width: 600px) {
  #facadeHero{
    width: 600px;
  }
}
@media screen and (max-width: 400px) {
  #facadeHero{
    width: 400px;
  }
}
