#loginCard {
  padding: 15px 15px 15px 15px;
  margin-top: 100px;
  width: 360px;
  background-color: white;
  border-radius: 10px;
  border-color: rgb(194, 194, 194);
  border-width: 1px;
  border-style: solid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#registerFormP{
  padding: 15px 15px 0px 25px;
  margin: 0px 0px 0px 0px;
}
#StPaul{
  margin: 15px 0px 15px 15px;
  padding: 0px 0px 0px 0px;
}
#registerToggleBtn {
  margin: 15px 0px 15px 15px;
  padding: 0px 0px 0px 60px;
  height: 38px;
  border: 2px solid rgb(153, 153, 153);
  background-color: #5ad776;
  display: inline-block;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
}
#registerBtns button {
  padding: 0px 0px 0px 60px;
  height: 38px;
  border: 2px solid rgb(153, 153, 153);
  background-color: #5ad776;
  display: inline-block;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
}
#registerBtns button:hover {
  opacity: 0.75;
}
#registerBtns button:active {
  position: relative;
  top: 1px;
}

#facadeHero {
  height: 800px;
  width: 100%;
  background-position: center;
  background-image: url(https://images.unsplash.com/12/green.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
}

input {
  margin: 5px;
}

/* @media only screen and (max-width: 992px) {
  #facadeHero {
    width: 992px;
  }
}
@media screen and (max-width: 600px) {
  #facadeHero {
    width: 600px;
  }
}
@media screen and (max-width: 400px) {
  #facadeHero {
    width: 360px;
    height: 700px;
  }
} */
