.ReactModal__Content {
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
  margin: 100px 100px 100px 20%;
  color: rgb(221, 221, 221);
  background-color: #363636;
  overflow: auto;
}
#closeModal {
  float: right;
}
.Overlay {
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 992px) {
  .ReactModal__Content {
    margin: 130px 10px 100px 10px;
  }
}
@media screen and (max-width: 600px) {
  .ReactModal__Content {
    margin: 130px 10px 100px 10px;
  }
}
@media screen and (max-width: 450px) {
  .ReactModal__Content {
  }
}
