#farmNav {
  float: left;
  width: 180px;
  height: 450px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.navbar li {
  background-color: #f8f9fa;
}
#desktopLogo{
    height: 115px;
    width: 115px;
}
#desktopLogo:hover {
  opacity: 0.5;
}
#mobileLogo{
  display:none;
  height: 75px;
    width: 75px;
}
.nav-link{
    color: rgb(136, 136, 136);
}
.navbar ul {
    padding-inline-start: 0px;
}
.mainNav a{
  color:black;
}
.mainNav a:hover{
  color:#1f813f;
}
#navbar-nav li {
  color: rgb(191, 194, 209);
  list-style: none;
}
.navbar-nav .navLink {
  padding-right: 0;
  padding-left: 0;
}
@media only screen and (max-width: 992px) {
  #farmNav {
  float: none;
  width: 100%;
  height: auto;
}
#desktopLogo{
  display:none;
}
#mobileLogo{
  display:block;
}
}

