#goinHome{
    height: 15px;
    width: 15px;
}
#goinHomeBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#goinHomeBtn:hover{
    transition: 2s;
}
#goinHomeBtn:hover span:after {
    opacity: 1;
    right: 0;
}
#stock404{
width: 80%;
    display: block;
    margin: 0px auto 0px auto;
}